# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class
.venv/
venv/

# Git
.git/
.gitignore

# Environment
.env*

# Logs
*.log

# Data & Outputs
data/
datasets/
outputs/
.cache/
results/
app/results/
app/images/
app/api/calendar/images/
app/api/calendar/result/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
*.egg
MANIFEST

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
.history/
.spyderproject/
.spyproject/
.ropeproject/
*.vsix

# OS
.DS_Store
Thumbs.db
$RECYCLE.BIN/
*.stackdump

# Project specific
*.json
*.db
*.db.lock
asd.md
requirements_for_windows.txt
app/api/calendar/requirements.txt
app/api/babydiary/requirements.txt

